{% extends 'index.html' %}

{% block title %}
    Listado de Animales
{% endblock title %}

{% block body %}

    {% if animales %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animales %}
            <tr>
                <td>{{ animal.id }}</td>
                <td>{{ animal.nombre }}</td>
                <td>
                    <a href="{% url 'producto:editar_animal' animal.id %}">Editar</a>
                    <a href="{% url 'producto:eliminar_animal' animal.id %}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1> No existen animales registrados </h1>
    {% endif %}

    {% endblock body %}